@charset "utf-8";

.banner .inner {
  max-width: 1903px;
  height: 390px;
  background: #ddcfbd;
}
.banner-appbanner > img {
    display: block;
  margin: 0 auto;
  
  height: 390px;
  width: 1500px;
}
.banner-mobliebanner{
    display:none;
}
@media screen and (max-width: 1600px) {
    .banner .inner{
        height:260px;
    }
  .banner-appbanner{
    height: 260px;
  }
  .banner-appbanner > img{
    display: block;
    margin:auto;
    max-width:1100px;
    width:100%;
    height: 260px;
    
  }
  .banner-mobliebanner{
    display:none;
  }
}

@media screen and (max-width:992px) {

}

@media screen and (max-width:768px) {
    .banner .inner{
        height:120px;
        background : url(/images/mainmobileapp.png) no-repeat center;
        background-size: 100%;
    }
    .banner-appbanner{
        display:none;
    }
    .banner-mobliebanner{
        position: relative;
        display: block;
        
        max-width:768px;
        width:100%;
        height: 120px;
        
    }
    .banner-mobliebanner img{
        width:100%;
        height: 120px;
    }
    .banner-mobliebanner a{
        
        position: absolute;
        bottom: 15px;
        left: 32%;
        width: 70px;
        height:25px;
    }
    .banner-mobliebanner a img{
       
        width: 70px;
        height:25px;
    }
}

@media screen and (max-width:576px) {
  margin: auto;
  display: block;
  height: 390px;
  width: 1500px;
}
