@charset "utf-8";

.header > .inner {
  display: flex;
  margin: 0 auto;
  max-width: 1140px;
  height: 120px;
}
.header .logo {
}

.header .logo > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.header .logo > a > img {
  width: 145px;
}

.header-menu {
  width: calc(100% - 145px);
}

.header-menu > .social {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 30px;
  padding-right: 55px;
  padding-top: 6px;
}

.social > .sns-link {
  margin-right: 8px;
  display: flex;
  height: 100%;
}
.sns-link > li {
  margin-right: 10px;
}

.sns-link > li > a {
  display: block;
}
.sns-link > li > a > img {
  width: 24px;
  height: 24px;
}

.account-box {
  display: flex;
  height: 100%;
}

.account-box > li {
  position: relative;
  margin-right: 10px;
}

.account-box > li > a {
  display: block;
  line-height: 20.16px;
  color: rgba(140, 98, 57);
  font-weight: 300;
  font-size: 13.44px;
  padding: 0px 10px;
}

.account-box > li > a:first-child {
  padding-left: 5px;
}

.account-box > li:last-child {
  margin-right: 0;
}

.account-box > li:first-child::after {
  display: block;
  position: absolute;
  right: -5px;
  top: 5px;
  content: "";
  width: 1px;
  height: 13.44px;
  background-color: #191919;
}

.header-menu > .nav-area {
  width: 100%;
  height: calc(100% - 30px);
  box-sizing: border-box;
  padding-left: 60px;
}

.main-menu {
  display: flex;
  width: 100%;
  height: 100%;
}

.main-menu > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 130px;
}

.main-menu > li > a {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 19.2px;
  font-family: 500;
}

.nav > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 130px;
}

.nav > li > a {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 19.2px;
  font-weight: 500;
}

.gift-card > span {
  background-color: #faebd7;
  padding: 5px 10px 5px 10px;
  border-radius: 8px;
  color: firebrick;
  font-weight: 700;
  font-size: 20px;
}

.gift-card > span > img {
  height: 23px;
  margin-right: 5px;
  margin-top: -6px;
}

.sub-menu {
  display: none;
  position: absolute;
  top: 120px;
  left: 0px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.sub-menu .inner {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: 1140px;
  height: 190px;
  padding-left: 205px;
}

.sub-menu-list {
  display: flex;
  flex-direction: column;
  width: 130px;
  height: 100%;
}
.sub-menu-list > li > a {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 14.4px;
  line-height: 21.6px;
  padding-top: 12px;
  color: #fff;
  transition-duration: 0.1s;
}
.sub-menu-list > li > a:hover {
  color: rgb(255, 215, 0);
  font-size: 15px;
}

.mobile-header-menu {
  display: none;
  position: relative;
  width: calc(100% - 145px);
}

.mobile-header-menu > .mobile-nav-call {
  position: absolute;
  top: 50%;
  right: 30px;
  padding: 0px 8px;
  border: none;
  background: none;
  transform: translate(0%, -50%);
  cursor: pointer;
}

.mobile-nav-call > img {
  width: 24px;
  height: 24px;
}

.mobile-nav-warp {
  display: none;
  z-index: 99999;
  position: fixed;
  right: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
}

.mobile-nav-warp > .mobile-nav-bg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.mobile-nav-warp > .mobile-nav-menu {
  position: absolute;
  right: -300px;
  top: 0px;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100%;
  background-color: #f8f4eb;
}

.mobile-nav-menu > .account {
  width: 100%;
  height: 55.5px;
  padding: 20px 16px 16px 17px;
}

.account > .account-list {
  display: flex;
  width: 100%;
  height: auto;
}

.account-list > li {
  position: relative;
  margin-right: 15px;
  font-size: 15px;
}

.account-list > li:first-child::after {
  position: absolute;
  right: -8px;
  top: 0px;
  display: block;
  content: "";
  width: 1px;
  height: 15px;
  background-color: #000;
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.mobile-nav-list > li:first-child {
  border-top: 1px solid #e1d6c7;
}

.mobile-nav-list > li {
  width: 100%;
  border-bottom: 1px solid #e1d6c7;
}

.mobile-nav-list > li > a {
  display: block;
  width: 100%;
  padding: 20px 16px 20px 30px;
  font-size: 15px;
  color: #8c6239;
  border-bottom: 1px solid #e1d6c7;
}

.mobile-font-color {
  color: #de1d24 !important;
}

.mobile-lnb-list {
  display: none;
  width: 100%;
  height: auto;
}

.mobile-lnb-list > li {
  width: 100%;
}

.mobile-lnb-list > li > a {
  display: block;
  width: 100%;
  padding: 20px 16px 20px 45px;
  font-size: 15px;
  color: #8c6239;
  background: #fff;
  transition-duration: 0.1s;
  border-bottom: 1px solid #e1d6c7;
}

.mobile-lnb-list > li > a:hover {
  background: #de1d24;
  color: #fff;
}

.mobile-gift-card {
  background-color: #faebd7;
  padding: 10px;
  border-radius: 8px;
  color: firebrick;
  font-weight: 700;
  font-size: 14px;
}

.mobile-nav-list > li:last-child {
  padding-left: 20px;
}

.mobile-gift-card > img {
  height: 23px;
  margin-right: 5px;
}
@media screen and (max-width: 1200px) {
  .header > .inner {
    max-width: 960px !important;
  }
  .header-menu {
    display: none;
  }
  .mobile-header-menu {
    display: block;
  }
}

@media screen and (max-width: 990px) {
  .header > .inner {
    max-width: 720px !important;
  }
}

@media screen and (max-width: 770px) {
  .header {
    height: auto;
  }
  .header > .inner {
    max-width: 540px !important;
    height: 57px;
  }
  .header .logo > a {
    margin-right: 16px;
  }
  .header .logo > a > img {
    width: 80px;
    height: auto;
  }
  .mobile-header-menu {
    width: 100%;
  }
  .mobile-header-menu > .mobile-nav-call {
    right: 0px;
  }
}

@media screen and (max-width: 576px) {
}
