@charset "utf-8";

.notice .inner {
  margin: 0 auto;
  max-width: 1200px;
  height: 246px;
}
.notice > .inner > div {
  float: left;
}
/* 왼쪽 섹션 */
.notice-left {
  padding-top: 15px;
  width: 50%;
  height: 100%;
}
.notice-left p {
  font-size: 1.6rem;
  margin: 10px 0;
}
.notice-notice {
}
.notice-notice li {
  padding: 7px 0;
}
.notice-notice li:hover{
  cursor: pointer;
  opacity:0.6;
}
.notice-notice-list {
  padding-right: 5px;
}
.notice-notice-more {
  padding-top: 10px;
}
.notice-notice-more a {
}
.notice-notice-more a img {
  margin-left: 5px;
  height: 20px;
  width: 20px;
}
/* 오른쪽 섹션 */
.notice-right {
  padding-top: 15px;
  width: 50%;
  height: 100%;
}
.notice-right p {
  font-size: 1.6rem;
  margin: 10px 0;
}
.notice-event {
}
.notice-event li {
  padding: 7px 0;
}
.notice-event li:hover{
  cursor: pointer;
  opacity:0.6;
}
.notice-event-list {
  padding-right: 5px;
}
.notice-event-more {
  padding-top: 10px;
}
.notice-event-more a {
}
.notice-event-more a img {
  margin-left: 5px;
  height: 20px;
  width: 20px;
}
.notice-mobile{
  display:none;
}
@media screen and (max-width:1200px) {
  .notice .inner{
    width:100%;
    height:130px;
    background:#f7f0e4;
  }
  .notice-left{
    display:none;
  }
  .notice-right{
    display:none;
  }
  .notice-mobile{
    display:block;
    max-width:1200px;
    width:100%;
    height:130px;
    background:#f7f0e4;
    
  }
  .mobile-list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width:1200px;
    width:100%;
    height:130px;
  }
  .mobile-list > .mobileicon:last-child{
    border:none;
  }
  .mobileicon{
    display:block;
    height: 95px;
    width: 200px;
    border-right: 1px solid #ddcbab;
    padding: 0 30px;
  }
  .mobileicon > img{
    max-width: 100%;
    margin: auto;
    display: block;
    height:80%;
    width:100%;  
  }
  .mobileicon > p{
    font-size: 0.86rem;
    color:#8c6239;
    text-align: center;
    margin-top: 10px;
  }
}
@media screen and (max-width:768px) {
  .notice .inner{
    width:100%;
    height:100px;
    background:#f7f0e4;
  }

.notice-left{
  display:none;
}
.notice-right{
  display:none;
}
.notice-mobile{
  display:block;
  max-width:768px;
  width:100%;
  height:100px;
  background:#f7f0e4;
  
}
.mobile-list{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width:768px;
  width:100%;
  height:100px;
}
.mobile-list > .mobileicon:last-child{
  border:none;
}
.mobileicon{
  display:block;
  height: 70px;
  width: 150px;
  border-right: 1px solid #ddcbab;
  padding: 0 10px;
}
.mobileicon > img{
  max-width: 100%;
  margin: auto;
  display: block;
  height:60%;
  width:90%;  
}
.mobileicon > p{
  font-size: 0.86rem;
  color:#8c6239;
  text-align: center;
  margin-top: 10px;
}

}