@charset "utf-8";

.reco-menu > .inner {
  margin: 0 auto;
  max-width: 1400px;
  height: 855px;
  background: gold;
}

.reco-menu-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 430px;
}

.reco-menu-list > li {
  width: 322px;
  height: 100%;
  background-color: #fff;
  padding: 0px 14px;
}

.reco-menu-inner {
  width: 100%;
  height: 100%;
}

.reco-menu-list > li:first-child > div {
  background: url(/images/yupdduk.png) no-repeat;
  background-position: center bottom;
  background-size: 335px;
}

.reco-menu-list > li:nth-child(2) > div {
  background: url(/images/side.png) no-repeat;
  background-position: center bottom;
  background-size: 335px;
}
